<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
  <link rel="stylesheet" href="/main.css">
</head>

<body>
  <h1>Test</h1>
  <h2>Hvor god er du på Linux?</h2>
  <h3>Denne testen forutsetter at man ikke er innlogget som superuser og ikke har sudorettigheter</h2>
    <!-- <h2>Query</h2>  -->
    <div class="linuxTest">
      <p>Spørsmål:</p>
      <p class="question">
        <%= questions.question %>
      </p>
      <form action="/test" method="post" autocomplete="off">
        <label for="answer">Answer</label>
        <input class="answer" type="text" name="answer" placeholder="svar">
        <input type="hidden" name="id" value=<%=questions.id %>>
        <input type="hidden" name="question" value=<%=questions.question %>>
        <br>
        <div class="error">
          <%= ghj.false %>
        </div>


        <div class="correct">
          <%= ghj.correct %>

        </div>

        <script>
          let rdirect = false;
          let correct = document.querySelector(".correct").innerHTML.trim();
          let error = document.querySelector(".error").innerHTML;

          if (correct === "Riktig!!") {
            rdirect = true;
            
          } if(correct === "Feil:(") {
            rdirect = true;
           
          }
          setTimeout(function () {
            if(rdirect === true) {
              window.location.replace("http://localhost/test")
              rdirect = false;
            }
            }, 500);
            // setTimeout(function () {
            // }, 500);
          console.log(correct)
          console.log(error)

          // console.log(ghj)
        </script>

        <button>Send</button>
      </form>
    </div>


</body>

</html>